*
!*/
!.gitignore
!src/**
!docs/**
!external/**
!scripts/**
!std/**
!.github/**
!.gitattributes
!build.zig
!build.zig.zon
!LICENSE
!mkdocs.yml
!pipeline.png
!README.md
!test/**
test/benchmark/c-bin/**
test/benchmark/d-bin/**
test/out/**
test/advent2025/**
