*
!*/
!.gitignore
!src/**
!test/**
test/out/**


!docs/**
!external/**
!scripts/**
!std/**
!test/**
test/out/**
test/advent2025/**
!.github/**
!.gitattributes
!build.zig
!build.zig.zon
!LICENSE
!mkdocs.yml
!pipeline.png
!README.md
